body {
    margin: 0;
    background-color: #9F836A;
}

header{
    margin-bottom: 100px;
}

nav {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #34434B;
    top: 0;
    left: 0;
    height: 7%;
}

.menu {
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    height: 100%;
    padding: 10%;

}
.selector {
    background: rgba(0,0,0, 0.2);
    border: none;
    display:flex;
    justify-content: left;
    text-align: center;
    font-size: larger;
}

.section1 {
    display: flex;
    justify-content: space-around;
}
.tarjeta{

width: 300px;
height: 500px;

display: flex;
justify-content: center;
align-items: center;

background: radial-gradient(circle at center, #22366a 0%, #010b20 55%);
background-size: 150% 150%;
background-position: center;
animation: latido 4s ease infinite;

border-radius: 4%;
box-shadow: -8px 8px 5px rgb(42, 46, 51);
}

.tarjeta2{

width: 300px;
height: 500px;

display: flex;
justify-content: center;
align-items: center;

background: radial-gradient(circle at center, #521309 0%, #c01f14 55%);
background-size: 150% 150%;
background-position: center;
animation: latido 4s ease infinite;

border-radius: 4%;
box-shadow: -8px 8px 5px rgb(42, 46, 51);
}


@keyframes latido {
    0% {
        background-size: 150% 150%;
    }
    50% {
        background-size: 600% 600%;
    }
    100% {
        background-size: 150% 150%;
    }
}

.windImg {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

