body {
    margin: 0;
    background-color: #E3DBC5;
}

header{
    margin-bottom: 100px;
}

nav {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #34434B;
    top: 0;
    left: 0;
    height: 7%;
}

.menu {
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    height: 100%;
    padding: 10%;

}
.selector {
    background: rgba(0,0,0, 0.2);
    border: none;
    display:flex;
    justify-content: left;
    text-align: center;
    font-size: larger;
}

.section1 {
    display: flex;
    justify-content: space-around;
    
    background-color: rgba(0,0,0,0.2);
}

.tarjeta{
width: 300px;
height: 500px;

display: flex;
justify-content: center;
align-items: center;

background: linear-gradient(42deg, #8ba4e3 0%,#2b3b62 50%,#010714 100%);
background-size: 400% 400%;
background-position: 0%, 50%;
animation: latido 8s ease infinite;

border-radius: 4%;
box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.tarjeta2{
width: 300px;
height: 500px;

display: flex;
justify-content: center;
align-items: center;

background: linear-gradient(42deg,#c8796d 0%, #79211b 55%, #2b0803 100%);
background-size: 400% 400%;
background-position: 0%, 50%;
animation: latido 8s ease infinite;

border-radius: 4%;
box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


@keyframes latido {
    0% {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.windImg {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 1));
    transition: 1.4s;
}
.windImg:hover {
    
    transform: scale(140%);
    transition: 1.4s;
}




footer {

}